---
name: Wait 20 seconds to simulate check pipeline
"on":
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  pull-request:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: Sleep
        run: |
          date
          sleep 20s
          date

